@model mola.Models.Etkinlik
@functions {
    public static List<T> Shuffle<T>(List<T> list)
    {
        var random = new Random();
        for (int i = list.Count - 1; i > 0; i--)
        {
            int j = random.Next(0, i + 1);
            (list[i], list[j]) = (list[j], list[i]);
        }
        return list;
    }
}

@{
    var shuffledList = Shuffle((List<mola.Models.Etkinlik>)ViewBag.Restoranlar);
}


<style>
    nav{
        background: rgb(0, 171, 200) !important;
    }
</style>

<div class="container mt-3">
    <ol class="breadcrumb" aria-label="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
        <li class="breadcrumb-item"><a asp-controller="Spa" asp-action="Index">Spa</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Baslik</li>
    </ol>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 d-grid gap-3">
            <div class="d-flex justify-content-between">
                <h2>@Model.Baslik</h2>
                <button class="btn btn-light border text-custom"><i class="fa-regular fa-star"></i> Paylaş</button>
            </div>

            <img id="featured-image" src="@Model.AnaResimUrl" alt="Alternate Text" class="roundedxl w-100" style="max-height:38rem;" />

            <div class="container p-0">
                <div class="swiper mySwiper py-3">
                    <div class="swiper-wrapper d-flex">
                        @foreach (var i in ViewBag.RestoranResimler)
                        {
                            <div class="swiper-slide" style="width:2rem;height:8rem;cursor:pointer;">
                                <img src="@i.ResimUrl" class="w-100 h-100 img-fluid thumbnail roundedxl" />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="d-grid gap-3 my-5">
                <h2 class="text-custom">@Model.Baslik</h2>
                <p class="text-custom">
                    @Model.Text2
                </p>
            </div>


            <div class="mt-3 d-grid gap-3">
                <h2>Diğer Hizmetler</h2>
                <div class="d-flex gap-3">
                    @foreach (var i in shuffledList.Take(5))
                    {
                        <a asp-controller="Etkinlik" asp-action="EtkinlikDetay" asp-route-id="@i.Id">
                            <div class="card" style="width: 18rem; min-height:20rem;">
                                <img class="card-img-top" src="@i.AnaResimUrl">
                                <div class="card-body">
                                    <h5 class="card-title">@i.Baslik</h5>
                                    <p class="card-text Text">@i.Text1</p>
                                </div>
                            </div>
                        </a>

                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll('.thumbnail').forEach(function (thumbnail) {
            thumbnail.addEventListener('click', function () {
                const featuredImage = document.getElementById('featured-image');
                featuredImage.src = this.src;
            });
        });

        const pElements = document.querySelectorAll('.Text');
        const maxLength = 45;

        pElements.forEach(pElement => {
            const originalText = pElement.innerText;
            if (originalText.length > maxLength) {
                pElement.innerText = originalText.slice(0, maxLength) + '...';
            }
        });
    });
</script>